*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cd_navbar{
	background-color:#d1d1d1 ;
	color: #000000;
}

.cd_menuCard{
	background-color: #d1d1d1;
}

.cd_menuItems li{
	font-weight: 500;
	font-size: 18px;
}
.cd_bg_color{
	background-color: #f6f8fc;
}
.cd_bg_color > li{
	border-bottom: 1px solid #d1d1d1;
}
